PORT=8787
MAX_AUDIO_BYTES=104857600
VOLCENGINE_ASR_ENDPOINT=https://openspeech.bytedance.com/api/v3/auc/bigmodel/recognize/flash
VOLCENGINE_ASR_RESOURCE_ID=volc.bigasr.auc_turbo
VOLCENGINE_ASR_APP_KEY=
VOLCENGINE_ASR_ACCESS_KEY=
VOLCENGINE_ASR_TIMEOUT_MS=120000
ECHONOTE_PROXY_URL=http://127.0.0.1:8787
ECHONOTE_PROXY_HOST=127.0.0.1
MAX_MEDIA_BYTES=2147483648
MEDIA_DECODE_TIMEOUT_MS=300000
